<nav class='main-menu'>
    <div class="container">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div >
           {% set userDetails = app.user.details %}
            {% if userDetails %}
                <span>You are logged in as <a href="{{ path('user_details')}}">{{ userDetails.name }}</a>, <a href="{{ path('app_logout') }}">Logout</a></span>
            {% else %}
                <span>You are logged in as <a href="{{ path('user_details')}}">no-name user</a>, <a href="{{ path('app_logout') }}">Logout</a></span>
            {% endif %}
        </div>
    {% else %}
        <div >
            <a href="{{ path('app_login') }}" class='btn btn-header'>Login</a>
            <a href="{{ path('app_register') }}" class='btn btn-header'>Registration</a>
        </div>
    {% endif %}
    </div>
</nav>
