{% extends 'base.html.twig' %}

{% block title %}User manager{% endblock %}

{% block body %}
<div class='toolbar'>
    <h3>Actions</h3>
    <div class="btn-group" role="group">
        <button class='btn-action btn-danger btn' onclick="deleteSelected()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><g fill="white"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></g></svg></button>
        <button class='btn-action btn-warning btn' onclick="blockSelected()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="white" d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/></svg></button>
        <button class='btn-action btn-success btn' onclick="unblockSelected()"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="white" d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z"/></svg></button>
    </div>
</div>

<table class='table'>
    <thead>
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Last Login</th>
            <th>Register Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
       {% for user in users %}
       {% if loop.index >= (currentPage - 1) * itemsPerPage + 1 and loop.index <= currentPage * itemsPerPage %}
            <tr>
                <td><input type="checkbox" class="select-user" value="{{ user.id }}"></td>
                <td>{{ user.id }}</td>
                <td>{{ user.getDetails() ? user.getDetails().name : "-" }}</td>
                <td>{{ user.getDetails() ? user.getDetails().position : "-" }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '-' }}</td>
                <td>{{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '-' }}</td>
                <td>{{ user.status }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <div class="btn-group" role="group">
        {% for page in 1..totalPages %}
            <button class='btn btn-scondary'><a href="{{ path('users_manager', {'page': page}) }}">{{ page }}</a></button>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('select-all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.select-user');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = this.checked;
        }, this);
    });
    
    function deleteSelected() {
        const selectedUsers = document.querySelectorAll('.select-user:checked');
        selectedUsers.forEach(user => {
            window.location.href = `/users-manager/delete/${user.value}`;
        });
    }

    function blockSelected() {
        const selectedUsers = document.querySelectorAll('.select-user:checked');
        selectedUsers.forEach(user => {
            window.location.href = `/users-manager/block/${user.value}`;
        });
    }

    function unblockSelected() {
        const selectedUsers = document.querySelectorAll('.select-user:checked');
        selectedUsers.forEach(user => {
            window.location.href = `/users-manager/unblock/${user.value}`;
        });
    }
</script>

{% endblock %}
